* {
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}